.App {
  text-align: center;
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.container{
  min-height: 237px;
}


.table{
  margin: 60px 10px 10px 10px;
}

.id-col{
  resize:horizontal;
  width:60px;
}
.act-col{
  resize:horizontal;
  width: 150px;
}
.table-container{
  text-align: left;
  align-content: center;
  margin-top: 78px;
  
}
.table-container::-webkit-scrollbar {
  display: none;
}

.table-container{
  /* ms-overflow-style: none;  IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.inp-container{
  margin-top:70px;
}

#button-addon2:hover{
  background-color: rgb(61, 182, 61);
}

.markDone{
  text-decoration: line-through;
}